@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flip-animation($direction: y) {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  &.flipped {
    @if $direction == y {
      transform: rotateY(180deg);
    } @else {
      transform: rotateX(180deg);
    }
  }
}
